.baslik
{
    text-align: center;
    color:#49dbde;
    border-style: dashed;
    border-width:2px ;
    border-color:rgb(242, 111, 111);
}

.yazi
{
    font-size: 20px ;
    border-style: outset;
    border-width: 4px ;
    border-color:rgb(46, 246, 106);
}