.baslik
{
text-align: center;
background-color:rgb(246, 230, 201);
font-size:14px;
color:#1494d0;


}

.kutu1
{

border-width:1px;
border-color:rgb(33, 0, 123);
border-style:dashed;
text-align: center ;
font-size: 15 px;
background-color: rgb(246, 230, 201);

}

